body {
  padding-top: 56px;
  background-image: radial-gradient(white, white);
  text-align: center;
}

#pseudo {
  color: bisque;
  font-weight: bold;
  font-size: 15px;
}

.title-post {
  text-shadow: 2px 2px 7px #000;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#headerwrap {
  background: url(../images/series-US.jpg) no-repeat center top;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.presentation {
  background: url(https://images.unsplash.com/photo-1512070853659-f08f0efae470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=600&q=60) no-repeat center center;
  background-size: cover;
}

.hero-unit {
  color: white;
}

@media (max-width: 768px) {
  #headerwrap h1 {
    font-size: 50px;
  }

  #headerwrap h2 {
    font-size: 30px;
  }
}

p {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Share Tech Mono', sans-serif;
  font-weight: bold;
}

h1.title-post {
  text-align: center;
}

#img_blog {
  width: 200px;
  height: 200px;
}

#img_blog_admin {
  width: 50px;
  height: 50px;
}

.admin-bloc1 {
  padding-left: 10px;
}

.admin-bloc2 {
  margin-right: auto;
  margin-left: auto;
}

.flux {
  color: blueviolet;
}

ul.list-group {
  margin-bottom: 35px;
  font-size: smaller;
  text-align: left;
}

.jmi {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 20px;
}

#block {
  padding-top: 56px;
}

/* footer */

#footer-jmi {
  font-family: georgia, serif;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

.lead {
  font-weight: bold;
}

.test {
  background-color: white;
}

.content {
  background-color: white;
}

.marvin {
  padding-top: 30px;
  background-color: rgba(245, 230, 230, 0.71);
}

.comment {
  margin-bottom: -30px;
}

.text-align {
  margin-top: -3%;
  margin-bottom: -9%;
  padding: 10%;
  margin-left: 30%;
}

.form-new {
  margin-right: 22%;
  margin-left: 20%;
}

.register-heading {
  margin-left: 21%;
  margin-bottom: 10%;
  color: #e9ecef;
}

.register-heading h1 {
  margin-left: 21%;
  margin-bottom: 10%;
  color: #e9ecef;
}

.btnLoginSubmit {
  border: none;
  padding: 2%;
  width: 25%;
  cursor: pointer;
  background: #29abe2;
  color: #fff;
}

.btnForgetPwd {
  cursor: pointer;
  margin-right: 5%;
  color: #f8f9fa;
}
