            

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<p class="text-center lead">@copyright - J.Lavidange  - 
      {% if session.user is defined %} 
      <img class="card_img" src="public/images/admin.png" alt="" style="line-height:20px; height:20px;"/>
      {% else %}
				<a href="Auth/login"><img class="card_img" src="public/images/admin.png" alt="" style="line-height:20px; height:20px;"/> se connecter</a>
			{% endif %}
      </p>
		</div>

  </div>
  <div class="row" id="footer-jmi">
    <div class="col text-center">
      <a href="https://www.linkedin.com/in/jimmy-lavidange-donne" target="_blank"><button type="button" class="btn btn-primary btn-sm">Linkedin</button></a>
      <a href="https://github.com/donjmi" target="_blank"><button type="button" class="btn btn-primary btn-sm">Github</button></a>
      <a href="https://twitter.com/jldonne" target="_blank"><button type="button" class="btn btn-primary btn-sm">Twitter</button></a>
    </div>
  </div>
</div>
<!-- Footer -->