{% extends 'Template/layout.twig' %}

{% block content2 %}

<form method="post" action="comments/edit_com/" class="text-center border border-light p-5">
  <p class="h4 mb-4">Ajouter un article</p>

   <p><input type="hidden"    name="id"         value=""></p>
   <p><input type="hidden"    name="posts_id"   value="" id="defaultContactFormName" class="form-control mb-4" placeholder="Titre" ></p>
   <p><input type="text"      name="user_id"    value="" id="defaultContactFormName" class="form-control mb-4" placeholder="user_id" ></p>
   <p><input type="text"      name="comment"    value="" id="defaultContactFormName" class="form-control mb-4" placeholder="votre commentaire" required></p>
   <p><input type="submit"                      value="envoyer"></p>

</form>
{% endblock content2 %}

