{% extends 'Template/layout.twig' %}

{% block content %}

<h1>{{ article.title }} </h1>
<p>Créé par Administateur - le {{ article.date_creation|date("d/m/Y h\\h i\\m s\\s")}}</p>
</br>
<div><img class="circle" src="{{ article.url_images }}" class="card-img-top" alt="..." ></div>
<p class="jmi"> {{ article.content  }}</p>
                    
          

{% endblock %}