{% extends 'Template/layout.twig' %}

{% block content %}
<h4> Liste des posts - Admin </h4>
<br />
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>id</th>
        <th>titre</th>
        <th>slug</th>
    </tr>
    <thead>
{% for article in articles %}
   <tr>
       <td>{{article.id}}</td>
       <td>{{article.title}}</td>
       <td>{{article.slug}}</td>
   </tr>
   {% endfor%}
</table>
{% endblock content %}


