{% extends 'Template/layout.twig' %}
{% block content %}

<h1>L'article</h1>

</br>
                    <h3> {{ article.title }} </h3>
                    <p> {{ article.content}}</p>
                    <p> ------------------------------------- </p>

{% endblock %}

