<div class="container" id="contact">
	<div class="row has-success">
		<div class="col-lg-8 col-md-10 mx-auto mt-5" style="top: 50px" ;>
			<h3 class="mb-3 border-bottom text-center col-12">Me contacter</h3>

			<form name="sentMessage" id="contactForm" method="post" action="Contact/send">
				<div class="control-group">
					<div class="form-group  floating-label-form-group controls">
						{# <label for="surname">Votre Nom</label> #}
						<input type="text" class="form-control ftext" id="surname" placeholder="Nom" name="surname" required data-validation-required-message="Veuillez entrer votre nom.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="control-group">
					<div class="form-group  floating-label-form-group controls">
						{# <label for="name">Votre Prénom</label> #}
						<input type="text" class="form-control ftext" id="name" placeholder="Prénom" name="name" required data-validation-required-message="Veuillez entrer votre prénom.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls">
						{# <label for="mail">mail</label> #}
						<input type="email" class="form-control ftext" id="email" placeholder="Adresse mail" name="mail" required data-validation-required-message="Veuillez entrer votre adresse mail.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls">
						{# <label for="content">Votre Message</label> #}
						<textarea rows="4" class="form-control ftext" id="content" placeholder="Message" name="content" required data-validation-required-message="Veuillez entrer votre message."></textarea>
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-outline-dark" name="send">Envoyer
						<i class="fas fa-paper-plane"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
