{% extends 'Template/layout.twig' %}

  {% block content %}

  <h1>Liste des derniers POSTS</h1>

  </br></br>
   {% for article in articles %}

                    <h3><a href="ArticlesController/read/{{article.id}}"> {{article.title}} </a></h3>
                    <p> {{ article.content}}</p>
                    <p> {{ article.date_creation|date("d/m/Y h\\h i\\m s\\s")}}</p>
                    <p> ------------------------------------- </p>

    {% endfor %} 
  
  {% endblock content %}
