<html>
<head></head>
<body>
<h1>L'article</h1>


                    <h3> {{ article.title }} </h3>
                    <p> {{ article.content}}</p>
                    <p> ------------------------------------- </p>






</body>


</html>