{% extends 'Template/layout.twig' %}

{% block content %}

<form method="post" action="Users/editUsers/" class="text-center border border-light p-5">
  <p class="h4 mb-4">s'enregistrer</p>
   <p><input type="hidden"    name="id"         value=""></p>
   <p><input type="text"      name="pseudo"     value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="pseudo" required></p>
   <p><input type="email"     name="email"      value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="votre email" required></p>
   <p><input type="email"     name="email2"     value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="confirmez email" required></p>
   <p><input type="password"  name="password"   value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="mot de passe" required></p>
   <p><input type="password"  name="password2"  value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="confirmez passe" required></p> 
   <p><input type="hidden"    name="role"       value="0" id="defaultContactFormName" class="form-control mb-4" placeholder="role" required></p>
   <p><input type="submit"    name="formusers"  value="envoyer"></p>

</form>
{% endblock content %}

