{% extends 'Template/layout.twig' %}

{% block content %}

<form method="post" action="Users/login/" class="text-center border border-light p-5">
  <p class="h4 mb-4">Se connecter</p>
   <p><input type="email"     name="email"      value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="votre email" required></p>
   <p><input type="password"  name="password"   value=""  id="defaultContactFormName" class="form-control mb-4" placeholder="mot de passe" required></p>

   <p><input type="submit"    name="formusers"  value="se connecter"></p>

</form>
{% endblock content %}

