{% extends 'Template/layout-article.twig' %}

{% block content %}
<h1> {{ titleAdm }}</h1>
<br/><br/>
<a href="users/listUsers/"><button type="button" class="btn btn-primary btn-lg">Gestion des utilisateurs</button></a>
<a href="Articles/edit"><button type="button" class="btn btn-primary btn-lg">Gestion des articles</button></a>


{% endblock content %}

